[package]
name = "fuuka-bot"
license = "Apache-2.0"
version = "0.4.3"
edition = "2024"
repository = "https://github.com/ShadowRZ/fuuka-bot"
rust-version = "1.88.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
axum = "0.8"
bytes = "1"
console-subscriber = { version = "0.4", features = [
  "parking_lot",
], optional = true }
crc32fast = "1"
cronchik = { version = "2", features = ["time", "serde"] }
envsubst = "0.2"
fastrand = "2"
file-format = "0.28.0"
futures-util = "0.3"
graphql_client = { version = "0.14", default-features = false }
hmac = "0.12"
imagesize = "0.14"
jose-jwk = { version = "0.1", default-features = false }
mime = "0.3"
parking_lot = "0.12"
pin-project-lite = "0.2"
regex = "1"
rpassword = { version = "7", optional = true }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = "0.10"
shell-words = "1"
thiserror = "2"
time = { version = "0.3", features = ["macros", "formatting"] }
tl = "0.7"
tokio = { version = "1", features = ["full"] }
toml = "0.9"
tracing = "0.1"
tracing-journald = { version = "0.3", optional = true }
tracing-subscriber = { version = "0.3", features = [
  "env-filter",
  "parking_lot",
] }
url = { version = "2", features = ["serde"] }

[dependencies.matrix-sdk]
default-features = false
features = [
  "anyhow",
  "e2e-encryption",
  "automatic-room-key-forwarding",
  "sqlite",
]
git = "https://github.com/matrix-org/matrix-rust-sdk"

[dependencies.reqwest]
default-features = false
features = ["gzip", "brotli", "deflate", "json", "hickory-dns"]
version = "0.12"

[dependencies.ruma]
# Flattens with the features used by matrix-rust-sdk
features = ["html-matrix"]
git = "https://github.com/ruma/ruma"
rev = "e85e224cef32181029efa106a059d277ecfbe87d"

[dependencies.pixrs]
default-features = false
git = "https://github.com/ShadowRZ/pixrs"

[dev-dependencies]
pretty_assertions = "1"

[features]
default = ["rustls-tls"]
bundled-sqlite = ["matrix-sdk/bundled-sqlite"]
interactive-login = ["dep:rpassword"]

native-tls = ["reqwest/native-tls", "matrix-sdk/native-tls"]
rustls-tls = [
  "reqwest/rustls-tls",
  "matrix-sdk/rustls-tls",
  "rustls-tls-native-roots",
]

# Rustls
rustls-tls-native-roots = ["reqwest/rustls-tls-native-roots"]

tokio-console = ["dep:console-subscriber", "tokio/tracing"]

use-journald = ["dep:tracing-journald"]

[profile.release]
strip = "debuginfo"
lto = true
opt-level = "z"
codegen-units = 1

[profile.release-abort]
inherits = "release"
panic = "abort"
